.summer-content .summer-index-post {
  visibility: visible;
}

.post-template .summer-post-title {
  top: 25%;
}

.post-template .summer-post-content {
  margin: -30% 0 0 0;
}

.summer-post-content p, .summer-page-content p {
  font-size: 1.625rem !important;
  font-weight: 300 !important;
}